body {
  font-family: 'Roboto',arial,sans-serif;
  padding: 15px;
  background: rgb(245, 237, 237);
 
}

header{
  display: flex;
  justify-content: center;
}

#logo{
  display: flex;
  margin:0%;
  width: 90px;
  height: 96px; 
}

h1 {
  display: inline;
  font-size: 50pt;
  color: grey;
  margin: 0%;
  margin-top: 1%;
  background-size: cover;
  background-clip: text;
  
}
#barradetitulo{
  
  color:grey ;
  width: 96.5%;
  text-align: center;
}
#descripciontitulo {
  font-size: 13px;
  color: #737373;
  
}
.paso{
  color: #989898;
  width: 25%;
  float: left;
  font-size: 12px;
}

.indicacion{
  color: #6b6b6b;
  font-size: 20px;
  margin-left: 5px;
}

.numero{
  color: #909090;
  font-size: 20px;
  font-weight: bold;
  border: rgb(32, 31, 28) solid 2px;
  padding: 5px 10px;
  border-radius: 20px;
  margin-left: 10px;
}

.descripcionindicacion{
  color: #737373;
  display: inline-block;
  padding: 9px 35px 0px 55px;
}



#barraclave {
  height: 50px;
  font-size: 15px;
  color:grey;
  padding-top: 20px;
  padding-bottom: 0px;
  width: 96.5%;
  border-radius: 0px 0px 32px 32px;
  display: inline-block;
}

#clave{
  width: 50%;
  margin-left: 10px;
  position: absolute;
  z-index: 1000;
}

#botones{
  width: 100%;
  text-align: center;

}

#botonesauxiliares{
  display: inline-block;
  margin: 15px 0px;
  width: 96.5%;
  text-align: center;
}

#entradaclave{
  margin-left: 5px;
  padding: 3px;
  padding-left: 11px;
  padding-right: 5px;
  border-radius: 16px;
  border-color:rgb(32, 31, 28);
  width: 100px;
  height: 20px;
}
/*ubicacion cuadro de texto*/
.column {
  float: left;
  width: 45%;
  height: 150px;
  padding: 20px;
  margin-top: 13px;
  border: 2px solid grey;
  font-size: 24px;
  font-family: 'Roboto',arial,sans-serif;

}
/*borde cuadro de texto*/
.izquierda{
  border-radius: 30px 0px 0px 30px;
}

.derecha{
  margin-left: -2px;
  border-radius: 0px 30px 30px 0px;
}

/*forma de botones*/
.boton{
  width: 120px;
  height: 30px;
  text-decoration: none;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 300;
  font-size: 18px;
  color: rgb(19, 18, 18);
  background-color: #fffefe;
  border-radius: 16px;
  border: 2px solid rgb(116, 111, 111);
  box-shadow: 1px 2px 2px grey;  
}

.boton:hover{
  background-color: grey ;
  color: #030303;
  border-color: #5a5957;
  cursor: pointer;
}

.aux{  
  background-color:white ;
  color: #1a1818;
  border-color:rgb(105, 107, 107);
}

.aux:hover{
  background-color: grey;
  color: #1a1818;
  border-color: #5a5957;
  cursor: pointer;
}


footer {
  
  background-color: rgb(114, 113, 110);
  line-height: 3;
  text-align: center;
  width: 100%;
}

  
  
