body {

  font-size: 20px;
  background-color: #e5e5e5;
  font-family: Patrick Hand;



}
barra titulo{
    font-size: 40px;
    color: #e5e5e5;
    text-align: left;
    padding-left: 8%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 25%;
    position: fixed;
    background-color: #ab49cc;
    top: 0px;


  }


  

  
  